body {

  background-image: url("https://media.giphy.com/media/dQ4yHsExNx4gE/giphy.gif");
  background-size: 50%;
  background-repeat: no-repeat;
  
}

input {
    padding: 50px;
 border-radius: 50px;
 width:200px;
 font-size:50px;
 background-color: #399DC5;
 border-color: #399DC5;
}

div {
    position: absolute;
   top: 90%;
   left: 70%;
   width: 500px;
   height: 300px;
   margin-left: -1150px;
   margin-top: -750px;
}